<div class="page-container d-flex align-items-center" [ngStyle]="{'background': 'url(' + themeService.body.backgroundImage + ')'}">
  <div class="full-width">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-6">
          <div class="tile bottom-shadow">
            <div class="tile-body">
              <div class="full-width text-center">
                <button routerLink="signup" [ngStyle]="{'background': themeService.color.primaryColor}">Sign Up</button>
              </div>
              <div class="full-width text-center">
                <button routerLink="signin" [ngStyle]="{'background': themeService.color.primaryColor}">Sign In</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
