<div class="dashboard-item-container">
  <div class="dashboard-item" *ngIf="!loading">
    <div class="nothing-container d-flex align-items-center" *ngIf="!items.length">
      <div class="nothing full-width text-center">
        <div class="nothing-icon">
          <svg><use xlink:href="#coming-soon-icon"></use></svg>
        </div>
        <h4>There's nothing here yet</h4>
        <p>Maybe someone will add something soon</p>
      </div>

    </div>
    <div class="item-container">
      <div class="item" *ngFor="let item of items">
        <div class="row">
          <div class="col-12 col-md">
            <div class="full-width">
              <div class="item-title">You {{item.type === 'quiz' ? (item.percentageCorrect >= item.quiz?.passPercentage ? 'completed' : 'attempted') + ' a quiz: ' + item.quiz?.title: null}}</div>
              <div class="item-sub-title">
                {{item.type === 'quiz' ? (item.dateCompleted | date: 'medium') : null}} {{item.type === 'quiz' && item.validated ? ' (Passed)' : '(Failed)'}}
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="full-width full-height d-flex align-items-center justify-content-start justify-content-md-end">
              <div class="item-score"><span [ngStyle]="{color: themeService.color.primaryColor}">{{item.pointScore || 0}}</span> points earned</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="loading-container">
        <div class="full-width text-center">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <h3 class="text-thin">{{loadingStatus}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
