<div class="page-title d-flex align-items-center text-thin">
  Administration
</div>
<div class="page-coming-soon-container d-flex align-items-center justify-content-center" *ngIf="isComingSoon">
  <div class="coming-soon">
    <div class="coming-soon-icon text-center"><svg><use xlink:href="#coming-soon-icon"></use></svg></div>
    <h2 class="text-thin text-color-light text-center">Administration is coming soon!</h2>
  </div>
</div>
<div class="page-content-container">
  <div class="container-fluid" *ngIf="!loading && !isComingSoon">
    <div class="row">
      <div class="col-12">
        <h4 class="title2">Administrative Tools</h4>
        <div class="row">
          <ng-container *ngFor="let administrativeItem of administrativeItems">
              <ng-template #adminTooltip><i class="fa fa-info-circle" aria-hidden="true"></i>{{administrativeItem.tooltip}}</ng-template>
            <div [ngbPopover]="adminTooltip"  triggers="mouseenter:mouseleave"
             class="col-12 col-md-6 col-lg-4 col-xl-2" *ngIf="administrativeItem.isActive && canView(administrativeItem)">
              <a [routerLink]="administrativeItem.URI">
                <div class="administrative-tool-container bottom-shadow" [ngStyle]="{background: themeService.color?.primaryColor}">
                  <div class="administrative-tool featured d-flex align-items-center justify-content-center">
                    <div class="full-width text-center">
                      <div class="icon"><svg><use  attr.xlink:href="#{{administrativeItem.icon}}"></use></svg></div>
                      <div class="title">{{administrativeItem.title}}</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-12" *ngIf="getRole() === 'administrator' || getRole() === 'client'">
        <h4 class="title2">Application Statistics</h4>
        <app-element-administrative-statistics></app-element-administrative-statistics>
      </div>
    </div>
  </div>
</div>

