.filter-client {
  border:1px solid #B0BEC5;
  padding: 10px 10px 10px 50px;
  background-position-y: 10px;
}

.user-profile-container {
  background: #fff;
  margin-bottom: 20px;

  .user-profile-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #90A4AE;
    margin: 0 auto 30px auto;
  }

  .user-profile-name {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #607D8B;
  }

  .user-profile-client,
  .user-profile-role {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #78909C;
  }

  .user-profile-role {
    font-weight: 400;
  }

  .user-profile {
    padding: 30px;
    cursor: pointer;
  }

  .user-profile-links {
    list-style: none;
    width: 100%;
    padding: 0;
    display: table;

    .user-profile-link {
      display: table-cell;
      padding: 15px;
      color: #78909C;
      border-top: 1px solid #ECEFF1;
      cursor: pointer;

      &:not(:last-of-type) {
        border-right: 1px solid #ECEFF1;
      }

      &.delete {
        &:hover {
          background: #f44336;
          color: #fff;
          border-color: #f44336;
        }
      }
    }
  }
}


.modules {
  list-style: none;
  padding: 0;
  background: #fff;
  color: #78909C;

  .module {
    cursor: pointer;

    &:hover {
      background: #fafbfc;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #f5f6f7;
    }

    .module-content-container {
      list-style: none;
      background: #fafbfc;
      color: #90A4AE;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 1em;
      padding: 0;
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &.expanded {
        height: auto;
      }

      .module-content-item {
        padding: 20px 30px 20px 60px;
        fill: #B0BEC5;

        &:not(:last-of-type) {
          border-bottom: 1px solid #f1f2f3;
        }

        &:hover {
          .module-content-options {
            visibility: visible;
          }
        }

        a {
          width: 100%;
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }

        &:focus {
          outline: none;
        }

        &:first-of-type {
          box-shadow: inset 0 4px 4px -4px rgba(0,0,0,0.3);
        }

        &:hover {
          background: #f5f6f7;
        }

        svg,
        a svg {
          padding: 5px;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-right: 10px;
        }

        .module-content-options {
          font-size: 1.2em;
          font-family: 'Roboto', sans-serif;
          font-weight: 100;
          visibility: hidden;

          svg {
            margin-right: 0;
          }

          .add-button {
            padding: 0 10px;

            &:hover {
              background: #607D8B;
              color: #fff;
              border: 1px solid #607D8B;
            }
          }
        }

      }
    }

    .module-title {
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      padding: 20px 30px;
      font-weight: 100;

      .module-options {
        visibility: hidden;
      }

      &:hover {
        .module-options {
          visibility: visible;
        }
      }

    }
  }
}